<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1>Search for Recipes</h1>
  <p class="lead">
    <div ng-init="recipe='Carbonara'">
        <p>
          <label for="recipe">Recipe:
            <input type="text" name="recipe" ng-model="recipe">
          </label>
        </p>
        <p>
          <button class="btn btn-md btn-primary" ng-click="findRecipes()">Find Recipes</button>
        </p>
    </div>

    <div ng-if="searchQuery">
        <p class="lead">{{recipesFound.totalMatchCount}} Recipes found matching the search: {{searchQuery}}</p>
        <dl ng-repeat="recipe in recipesFound.matches" class="recipe-results">
          <dt>{{recipe.recipeName}}</dt>
          <dt></dt>
          <img ng-src="{{recipe.smallImageUrls[0]}}"/>
          <dd><a ng-href="http://www.yummly.co/recipe/{{recipe.id}}" class="btn btn-lg btn-primary ng-binding" class="view-recipe">View Recipe</a></dd>
        </dl>
    </div>
  </p>
</div>
