<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1>Search for Recipes</h1>
  <p class="lead">
    <div ng-init="recipe='Lasagna'">
        <p>
          <label for="recipes">Recipe:
            <input type="text" name="recipe" ng-model="recipe">
          </label>
        </p>
        <p>
          <button class="btn btn-lg btn-primary" ng-click="findRecipes()">Find Recipes</button>
        </p>
      </div>

      <div ng-if="searchQuery">
        <p class="lead">{{recipesFound.count}} recipes found matching the search: {{searchQuery}}</p>
        <dl ng-repeat="hit in recipesFound.hits">
          <dt>{{hit.recipe.label}}</dt>
          <img ng-src="{{hit.recipe.image}}"/>
          <dd><a ng-href="{{hit.recipe.url}}" class="btn btn-lg btn-primary">View Recipe</a></dd>
        </dl>
    </div>
  </p>
</div>
